<div class="custom-header-media">
  <div id="wp-custom-header" class="wp-custom-header">
    <img
      src="/uploads/2017/03/cropped-piano.jpg"
      width="2000"
      height="1200"
      alt="Steinbach Music Studio"
      srcset="/uploads/2017/03/cropped-piano.jpg 2000w,
      /uploads/2017/03/cropped-piano-300x180.jpg 300w,
      /uploads/2017/03/cropped-piano-768x461.jpg 768w,
      /uploads/2017/03/cropped-piano-1024x614.jpg 1024w"
      sizes="100vw"
    />
  </div>
</div>
