---
layout: _base
---

<div class="wrap">
  <article class="page status-publish hentry">
    <header class="entry-header">
      <h1 class="entry-title">{{ title }}</h1>
    </header>
    <div class="entry-content">{{ content }}</div>
  </article>
</div>
